{load_language_text section="checkout_confirmation"}
{load_language_text section="buttons" name="button"}

    <div class="order_confirm">
        <h1>
            {$CHECKOUT_TITLE}
        </h1>
    
        {$FORM_ACTION}
    
        <div id="content_wirecard_checkout_page">
            <div class="heading_success">
                {$CHECKOUT_HEADER}
            </div>
            <div class="content_container">
                {$CHECKOUT_CONTENT}
            </div>
            {if $IFRAME != 'true'}

            <div class="content_container">
                {if !$NC_SUCCESS_INFO}
                    {if $FORM_ACTION == ''}
                        <div class="continue_button"><a href="shopping_cart.php" data-role="button" data-theme="b">{$button.continue}</a></div>
                    {else}
                        <div class="continue_button"><a href="{page_url}#" data-role="button" data-theme="b" class="action_submit">{$button.continue}</a></div>
                    {/if}
                {/if}
            </div>
            {/if}
            {$FORM_END}
        </div>
    </div>
