{load_language_text section="checkout_confirmation"}
{load_language_text section="buttons" name="button"}

{if $LIGHTBOX == 'true'}<div id="lightbox_content" style="display:none">{/if}
    <div class="order_confirm{if $LIGHTBOX == 'true'} lightbox_block{/if}">
        {if $SHOW_STEPS}
            {include file="get_usermod:{$tpl_path}snippets/navigation/process_funnel.html" step=3}
        {/if}
        <h1>
            {$CHECKOUT_TITLE}
        </h1>
    
        {$FORM_ACTION}
    
        <div id="content_wirecard_checkout_page">
            <div class="heading_success">
                {$CHECKOUT_HEADER}
            </div>
            <div class="content">
                {$CHECKOUT_CONTENT}
            </div>
            {if $IFRAME != 'true'}


            <div class="row">
                {if !$NC_SUCCESS_INFO}
                    {if $FORM_ACTION == ''}
                        <div class="col-xs-6 col-xs-offset-6 col-sm-4 col-sm-offset-8 col-md-3 col-md-offset-9 text-right continue_button"><a href="shopping_cart.php" class="btn btn-primary btn-block">{$button.continue}</a></div>
                    {else}
                        <div class="col-xs-6 col-xs-offset-6 col-sm-4 col-sm-offset-8 col-md-3 col-md-offset-9 text-right continue_button"><input type="submit" class="btn btn-primary btn-block" value="{$button.continue}"></div>
                    {/if}
                {/if}
            </div>
            {/if}
            {$FORM_END}
        </div>
    </div>
{if $LIGHTBOX == 'true'}
    <a href="{$LIGHTBOX_CLOSE}" class="icon_lightbox_close_checkout button_close_lightbox" title="{$button.close}">{$button.close}</a>
</div>
{/if}
